.tieude{
    text-align: center;
}
.reset{
    margin-right: 5px;
}
.table2{
    margin-left:84px;
}

.name, .gender{
    margin-right: 7px;
    border-inline: 30px;
}
.birthday {
    margin-right: 4px;
}
.address {
    margin-right: 24px;
}
.class{
    margin-right: 44px;
}
.email{
    margin-right: 32px;
}
.submit{
    margin-left: 80px;
}
