body{
    font-family: Arial, Helvetica, sans-serif;
}
.table2{
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
.TKB{
    margin-left: auto;
    margin-right: auto;
}
#creatRoom{
    background-color: #4CAF50;
}
#reset{
    background-color: red;
}
#datetime{
    border: none;
}
#subject{
    border: none;
}
.item{
    background-color: antiquewhite;
}
.thu{
    background-color: burlywood;
}
.dateTable{
    background-color: chocolate;
}